@use 'colors' as c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
  &:disabled {
    opacity: 50%;
    box-shadow: none;
  }
}

:root {
  @media screen and (min-width: 500px) {
    font-size: 18px;
  }
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  position: relative;
  background-color: c.$bgSecundary-dark;
}

svg,
img {
  display: block;
}

li,
ul {
  list-style: none;
}

input {
  outline: none;
}
