@use 'colors' as c;

.mainContainer {
  position: relative;
  max-width: 34.375rem;
  min-width: 20.625rem;
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  transition: width 0.3s;

  @media screen and (min-width: 768px) {
    width: 45%;
  }
}
